.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20pxx;
}
.container li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  overflow: visible;
  margin-top: 3px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.page-item {
  margin: 5px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 50%;
  background-color: crimson;
  color: white;
}
